@charset "utf-8";

/* 自由に書き換えてください。編集したら保存して反映させ、表示を確認してください */

/*****  「素材と栄養素」の表の設定 **** */
/* dl要素（定義型リスト） */
dl{
	width: 125px;										/* 幅 */
	height: 230px;									/* 高さ */
	font-size: 15px;								/* 文字サイズ */
	margin: 2px;										/* マージン */
	padding: 3px;										/* パディング */
	border: 1px #FFB200 solid;			/* ボーダー */		
	float: left;										/* 左フロート */
	border-radius: 6px;							/* 角丸 */
}
dt{
	font-weight: 700;								/* 文字の太さ */
	font-size: 110%;								/* 文字サイズ */
	margin-top: 5px;								/* 上マージン */
	margin-bottom: 10px;						/* 下マージン */
	text-align: center;							/* 文字の中央揃え */
}
dd{
	font-size: 80%;									/* 文字サイズ */
}

/* 緑黄色野菜 */
#vegetable{
	background-image: url(../img/illustration_2_1.png);	/* 背景画像(illustration_2_1.png) */
	background-repeat: no-repeat;		/* 繰り返しなし */
	background-position: bottom;		/* 背景画像の位置 */
}
#vegetable dt{
	color: #5EAB00;									/* 文字色 */
}

/* 魚介類 */
#fish{
	background-image: url(../img/illustration_2_2.png);	/* 背景画像(illustration_2_2.png) */
	background-repeat: no-repeat;		/* 繰り返しなし */
	background-position: bottom;		/* 背景画像の位置 */
}
#fish dt{
	color: #0068C1;									/* 文字色 */
}

/* 肉類 */
#meat{
	background-image: url(../img/illustration_2_3.png);	/* 背景画像(illustration_2_3.png) */
	background-repeat: no-repeat;		/* 繰り返しなし */
	background-position: bottom;		/* 背景画像の位置 */
}
#meat dt{
	color: #E74100;									/* 文字色 */
}

/* 豆類 */
#bean{
	background-image: url(../img/illustration_2_4.png);	/* 背景画像(illustration_2_4.png) */
	background-repeat: no-repeat;		/* 繰り返しなし */
	background-position: bottom;		/* 背景画像の位置 */
}
#bean dt{
	color: #B47900;									/* 文字色 */
}

/* 乳製品 */
#dairy{
	background-image: url(../img/illustration_2_5.png);	/* 背景画像(illustration_2_5.png) */
	background-repeat: no-repeat;		/* 繰り返しなし */
	background-position: bottom;		/* 背景画像の位置 */
}
#dairy dt{
	color: #FF9300;									/* 文字色 */
}

/* 果物 */
#fruit{
	background-image: url(../img/illustration_2_6.png);	/* 背景画像(illustration_2_6.png) */
	background-repeat: no-repeat;		/* 繰り返しなし */
	background-position: bottom;		/* 背景画像の位置 */
}
#fruit dt{
	color: #FF5B68;									/* 文字色 */
}