@charset "utf-8";

/* 自由に書き換えてください。編集したら保存して反映させ、表示を確認してください */

/* 初期スタイルのリセット設定 ----------------------------------------- */
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 初期スタイルのリセット設定 END-------------------------------------- */

/* ページ全体の設定 */
body{
	color: #333333;									/* 文字色 */
	background-color: #FFFFFF;			/* 背景色 */
}


/***** container(全体)の設定 ******/
/* containerの設定 */
#container{
	width: 600px;										/* 幅 */
	margin: 10px auto;							/* 全体の中央配置 */
	box-shadow: 0px 0px 5px #A7A7A7; /* ボックスの影 */
	border-radius: 8px;							/* 角丸 */
	position: relative;							/* 相対位置 */
}

/***** header部分の設定 ******/
/* headerの設定 */
header{
	width: 600px;										/* 幅 */
	height: 94px;										/* 高さ */
}
/* タイトル画像の設定 */
h1 img{
	border-radius: 8px 8px 0px 0px;	/* 角丸 */
}

/***** nav（ナビゲーション）部分のスタイル *****/
/* navの設定 */
nav{
	width: 160px;										/* 幅 */
	font-size: 11pt;								/* 文字サイズ */
	margin-top: 20px;								/* 上マージン */
	clear: both;										/* 回り込み解除 */
	position: absolute;							/* 絶対位置 */
	top: 94px;											/* 上の位置 */
	left: 0px;											/* 左の位置 */
}
/* 項目（全体） */
nav li{
	width: 160px;										/* 幅 */
	height: 42px;										/* 高さ */
	margin-bottom: 6px;							/* 下マージン */
	list-style-type: none;					/* リストのマークなし */
	background-color: #FFDA83;			/* 背景色 */
	border-radius: 0px 5px 5px 0px; /* 角丸 */
	box-shadow: -2px 2px 2px #DDD9C4; /* ボックスの影 */
}
/* 項目のマウスオーバー時のアニメーション設定 */
nav li.anime:hover{
	position: relative;							/* 相対位置 */
	left: -25px;										/* hover時の水平位置 */
	box-shadow: 2px 2px 2px #DDD9C4; /* ボックスの影 */
	animation: item 0.5s ease 1 normal;	/* アニメーション */
	-webkit-animation: item 0.5s ease 0s 1 normal;	/* ベンダープレフィックス（Chrome,Safari） */
}
@keyframes item {
	0%{
		position: relative;									/* 相対位置 */
		left: 0px;													/* 通常の水平位置 */
		box-shadow: -2px 2px 2px #DDD9C4; 	/* ボックスの影 */
	}
	100%{
		position: relative;									/* 相対位置 */
		left: -25px;												/* hover時の水平位置 */
		box-shadow: 2px 2px 2px #DDD9C4;		/* ボックスの影 */
	}
}
@-webkit-keyframes item {	/* ベンダープレフィックス（Chrome,Safari） */
	0%{
		position: relative;									/* 相対位置 */
		left: 0px;													/* 通常の水平位置 */
		box-shadow: -2px 2px 2px #DDD9C4; 	/* ボックスの影 */
	}
	100%{
		position: relative;									/* 相対位置 */
		left: -25px;												/* hover時の水平位置 */
		box-shadow: 2px 2px 2px #DDD9C4;		/* ボックスの影 */
	}
}
/* 項目（偶数の部分） */
nav li:nth-child(2n){
	background-color: #FFDAB9;			/* 背景色 */
}
/* 項目の選択状態 */
nav li.selection{
	width: 130px;										/* 幅 */
	height: 32px;										/* 高さ */
	padding: 5px 5px 5px 25px;			/* パディング（上右下左の順で記述） */
	color: #667D09;									/* 文字色 */
	background-color: #CEF33A;			/* 背景色 */
	background-image: url(../img/nav_icon_on.png);	/* 背景画像 */
	background-repeat: no-repeat;		/* 繰り返しなし */
	background-position: 5px 5px;		/* 背景画像の位置 */
	position: relative;							/* 相対位置 */
	top: 1px;												/* 垂直位置 */
	left: -25px;										/* 水平位置 */
	box-shadow: 2px 0px 1px #A7CFA3; /* ボックスの影 */
}

/***** selection（コンテンツ）部分のスタイル *****/
/* mainの設定 */
#main{
	width: 412px;										/* 幅 */
	margin-top: 20px;								/* 上マージン */
	margin-left: 178px;							/* 左マージン */
	padding-right: 10px;						/* 右パディング */
	min-height: 288px;							/* 最小の高さ */
}

/* h2要素（見出し）の設定 */
h2{
	width: 16.0em;										/* 幅 */
	color: #FF6300;									/* 文字色 */
	font-size: 110%;								/* 文字サイズ */
	font-weight: 700;								/* 文字の太さ */
	border-bottom: 1px #FF6200 solid;	/* 下ボーダー */
	margin-bottom: 0.5em;						/* 下マージン */
	padding: 5px 7px;								/* パディング */
	text-shadow: 1px 1px 3px #EF9B5C;	/* 文字の影 */
}

/* p要素（段落）の設定 */
p{
	font-size: 95%;									/* 文字サイズ */
	margin-bottom: 1.0em;						/* 下マージン */
	margin-left: 10px;							/* 左マージン */
}

/*****  挿入イラストの設定 **** */
/*挿入イラスト共通設定*/
.illust{
	margin: 5px 10px;								/* マージン */
}
/* 右側へ配置の設定 */
.ft_r{
	float: right;										/* 右フロート */
}
/* 左側へ配置の設定 */
.ft_l{
	float: left;										/* 左フロート */
}


/***** a（リンク）部分の設定 ******/
a{
	width: 130px;										/* 幅 */
	height: 32px;										/* 高さ */
	padding: 5px 5px 5px 25px;			/* パディング（上右下左の順で記述） */
	background-image: url(../img/nav_icon.png);	/* 背景画像 */
	background-repeat: no-repeat;		/* 繰り返しなし */
	background-position: 5px 5px;		/* 背景画像の位置 */
	display: block;									/* ブロック要素で表示 */
	border-radius: 0px 5px 5px 0px; /* 角丸 */
}
/* 未訪問リンク設定*/
a:link{
	color: #FF8A41;									/* 文字色 */
	text-decoration: none;					/* 装飾なし */
}
/* 訪問済リンク設定 */
a:visited{
	color: #FF8A41;									/* 文字色 */
	text-decoration: none;					/* 装飾なし */
}
/* マウスオーバー時のリンク設定 */
a:hover{
	color:#FF6600;									/* 文字色 */
	background-color:#FFFF99;				/* 背景色 */
	text-decoration:underline;			/* 下線 */
	background-image: url(../img/nav_icon_hover.png);	/* 背景画像 */
	background-repeat: no-repeat;		/* 繰り返しなし */
}
/* マウスクリック時のリンク設定 */
a:active{
	color: #009B88;									/* 文字色 */
	background-color: #CAF4EE;			/* 背景色 */
	background-image: url(../img/nav_icon_on.png);	/* 背景画像 */
	background-repeat: no-repeat;		/* 繰り返しなし */
}


/***** footer（フッター）の設定 ******/
/* footer部分のスタイル */
footer{
	width: 600px;										/* 幅 */
	height: 54px;										/* 高さ */
	clear: both;										/* 回り込み解除 */
}
/* footer内の段落の設定 */
footer p{
	color: #666666;									/* 文字色 */
	font-size: 9pt;									/* 文字サイズ */
	text-align: center;							/* 文字の中央揃え */
	padding-top: 20px;							/* パディング */
}
